html
  head
    title Node MVC App
    link(href="/bootstrap.css", rel="stylesheet")
  body
    header
      .navbar.navbar-inverse
        .navbar-brand Node MVC
        ul.navbar-nav.nav
          li
            a(href="/") Home
          li
            a(href="/about") About
          li
            a(href="/products") Products
          li
            a(href="/contact") Contact
    main
      block mainblock
    footer
      div &copy;2018 nodemvc.com
