<div class="col-md-6">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h1>{{product.brand}} {{product.model}}</h1>
    </div>
    <div class="panel-body">
      <div>$ {{product.price}}</div>
    </div>
    <div class="panel-footer">
      <div>{{product.lastUpdated}}</div>
    </div>
  </div>
</div>