header
  .navbar.navbar-inverse
    .navbar-brand Node MVC
    ul.navbar-nav.nav
      li
        a(href="/") Home
      li
        a(href="/about") About
      li
        a(href="/products") Products
      li
        a(href="/contact") Contact